<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/1.png" class="d-block w-100" alt="..." height="450px">
      </div>
      <div class="carousel-item">
        <img src="assets/images/2.jpg" class="d-block w-100" alt="..."height="450px">
      </div>
      <div class="carousel-item">
        <img src="assets/images/3.jpg" class="d-block w-100" alt="..."height="450px">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  
  <div class="container mt-5">
    <div class="text-center">
        <h1>อุปกรณ์ IOT ที่ใช้ทำในงาน</h1>
        <h4>ตู้จำหน่ายสินค้าระบบอัตโนมัติ</h4>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/Product/ESP-32.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">บอร์ดESP32 เป็นไมโครคอนโทรลเลอร์ที่รองรับทั้ง Wi-Fi และ Bluetooth ซึ่งถูกออกแบบมาเพื่อใช้งานในโครงการ IoT โดยมีหน่วยประมวลผลแบบ Dual-core ขา GPIO สำหรับการเชื่อมต่อกับอุปกรณ์ต่างๆ และรองรับการสื่อสารผ่านโปรโตคอลต่างๆ เช่น SPI I2C และ UART ทำให้เหมาะสำหรับงานที่ต้องการการเชื่อมต่อและควบคุมอุปกรณ์หลากหลายประเภทในระบบอัตโนมัติหรือสมาร์ทโฮม</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/Product/LCD.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">จอ LCD (Liquid Crystal Display) คือหน้าจอแสดงผลที่ใช้เทคโนโลยีการควบคุมการจัดเรียงของผลึกเหลวเพื่อแสดงภาพ ตัวจอจะประกอบด้วยชั้นของผลึกเหลวที่ถูกประกบด้วยแผ่นแก้วหรือพลาสติกโปร่งใส และเมื่อมีกระแสไฟฟ้าไหลผ่าน ผลึกเหลวจะเปลี่ยนทิศทางเพื่อควบคุมการผ่านของแสง ทำให้สามารถแสดงผลเป็นภาพหรือข้อความได้</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/Product/เครื่องหยอดเหรียญ.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">เครื่องหยอดเหรียญ คือเครื่องจักรหรืออุปกรณ์ที่ออกแบบมาเพื่อรับเหรียญหรือธนบัตรจากผู้ใช้ในการแลกกับสินค้า บริการ หรือสิทธิ์ในการใช้งาน เช่น เครื่องจำหน่ายสินค้าอัตโนมัติ (vending machine), เครื่องซักผ้าหยอดเหรียญ, ตู้เติมเงิน, หรือเครื่องขายบัตรโดยสาร เป็นต้น</p>
            </div>
          </div>
      </div>
    </div>
  </div>
